@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* START: General styles */
.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
.flex-around {
  @apply flex justify-around items-center;
}

.custom-btn {
  @apply flex flex-row justify-center items-center px-4 py-2 outline-none text-xl text-center font-normal whitespace-nowrap rounded-lg w-full md:w-fit cursor-pointer;
}

.custom-input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-[#08993f] dark:placeholder-[#08993f] dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.custom-header {
  @apply font-bold text-4xl capitalize text-center border-b-2 border-[#880808] text-[#880808] flex items-center justify-center mb-4;
}

.custom-header2 {
  @apply font-bold text-2xl capitalize text-center text-[#08993f] border-b-2 border-[#08993f] flex items-center justify-center content-center mb-6;
}


